/** HEADER */

.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    background-color: var(--color3);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 16px;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    background: var(--color3);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.header__login {
    align-items: center;
    display: flex;
}

.header__search {
    background-color: var(--color5);
    border: 1px solid transparent;
    border-radius: 500px;
    display: flex;
    align-items: center;
    height: 48px;
    width: 364px;
    margin-left: 8px;
}

.header__search img {
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    color: var(--color2);
    outline: none;
    padding: 0 100px 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__login .subscribe {
    background-color: transparent;
    color: var(--color7);
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
}

.header__login .login {
    border-radius: 40px;
    color: var(--color1);
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    width: 100px;
}

.playlist-container {
    background-color: var(--color3);
    border-radius: 10px;
    height: 68vh;
    margin: 10px;
    padding-top: 16px;
}

.playlist {
    margin: 24px;
}

.playlist #greeting {
    color: var(--color2);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    color: var(--color2);
    font-size: 24px;
    font-weight: 700;
}

.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}  

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.cards {
    height: 200px;
    width: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.cards span {
    color: var(--color2);
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    position: absolute;
}

/** Cards Colors */

.card1 {
background-color: rgb(0, 100, 80);
}
.card2 {
background-color: rgb(132, 0, 231);
}
.card3 {
background: rgb(30, 50, 100);
}
.card4 {
background: rgb(140, 25, 50);
}
.card5 {
background: rgb(232, 17, 91);
}
.card6 {
background: rgb(83, 122, 161);
}
.card7 {
background: rgb(142, 102, 172);
}
.card8 {
background: rgb(20, 138, 8);
}
.card9 {
background: rgb(30, 50, 100);
}
.card10 {
background: rgb(233, 20, 41);
}
.card11 {
background: rgb(80, 55, 80);
}
.card12 {
background: rgb(216, 64, 0);
}
.card13 {
background: rgb(186, 93, 7);
}
.card14 {
background: rgb(0, 30, 80);
}
.card15 {
background: rgb(60, 30, 80);
}

.offer__list-item img {
    height: 107px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(25deg) translate(18%, -2%);
}