body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
        'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0px auto 0px auto;
    width: 90%;
}

main {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Courier New', Courier, monospace
}

p {
    letter-spacing: 0.2rem;
}

strong {
    color: Aqua;
}

a {
    background-color: Aqua;
    border-radius: 12px;
    color: rgb(8, 8, 8);
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

#foto {
    border-radius: 15px;
    border: Aqua 3px solid;    
    display: inline-block;

    margin: 30px 20px 45px 45px;
}

#foto > img {
    border-radius: 15px;

    /** Filtro P&B */ 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /** IE */

    position: relative;
    top: 15px;
    right: 15px;
}

#links {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: none;
    margin-top: 20px;
    width: 100px;
}

#principal {
    display: inline-block;
    max-width: 600px;
}